<a href="https://colab.research.google.com/github/khazihajira/Assignment-2-of-Letsupgrade-python-essentials/blob/master/Copy_of_Assignment_2_of_letsupgrade_python_essential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Escape sequence

In [ ]:
print ("We are \" Letsupgraders\" from all over the country")
#back slash

We are " Letsupgraders" from all over the country

In [ ]:
TXT='It\'s Alright' #single quote
print (TXT)

It's Alright

In [ ]:
Message="Hello \n World!!" #new line
print (Message)

Hello
 World!!

In [ ]:
Var="High \t five" #tab
print (Var)

High 	 five

In [ ]:
store="Variables \b in \b memory" #backspace
print (store)

Variables  in  memory

In [ ]:
 Var=" Name \r Hajira" #carriage return
print (Var)

 Hajira

In [ ]:
print("""I am an Engineering Student .
I love to learn coding.
And it\'s so exciting to learn with letsupgrade.
Thank you""") #three double quotes

I am an Engineering Student .
I love to learn coding.
And it's so exciting to learn with letsupgrade.
Thank you

#Format Output

In [ ]:
Name="Haj_amicable"
Percentage=94.5
Age=22
print ("Student name is %s \nPercentage is %5f \nAge is %2d" %(Name, Percentage, Age))

Student name is Haj_amicable
Percentage is 94.500000
Age is 22

In [ ]:
 Name="Haj_amicable"
Percentage=94.5
Age=22
print("Student Details:")
print(f"Student name (Name)\nPercentage is(Percentage)\nAge is (Age)") 
#f string

Student Details:
Student name (Name)
Percentage is(Percentage)
Age is (Age)

#Python Variable

In [ ]:
variable=100
Var="Programming in Python"
print (variable)
print (Var)

100
Programming in Python

In [ ]:
X=99
Y=100
Z= 99
id(X)
id(Z)

10917632

In [ ]:
var=-6
var1=257
id(var)
id(var1)

140411250934096

#Python Operators

Arithmetic operators

In [ ]:
x=3
y=8
print (x+y) #Addition operators (+)

11

In [ ]:
x=10
y=3
print (x**y) #Exponentiation (**)

1000

In [ ]:
x=3
y=8
print (x-y)
#Subtraction operators (-)

-5

In [ ]:
x=3
y=8
print (x%y) #Modulus operators (%)

3

In [ ]:
x=100
y=10
print (x/y) #Division (/)
print(x*y) #Multiplication (*)

10.0
1000

In [ ]:
x=15
y=2
print (x//y) #floor division(//)

7

#Python assignment operator

In [ ]:
Operand=5
print (Operand)

5

In [ ]:
Operand=5
Operand**=6 #shorthand operators
print (Operand)

15625

In [ ]:
Operand1=10000
Operand2=50
Operand1*=3
print (Operand1)
Operand2//=10
print (Operand2)

30000
5

#Comparison operators
== , !=, >, < , >=, <=

In [ ]:
Operand1=100
Operand2=200
print (Operand1==Operand2)
print (Operand1!=Operand2)
print (Operand1>Operand2)
print (Operand1<Operand2)
print (Operand1>=Operand2)
print (Operand1<=Operand2)

False
True
False
True
False
True

In [ ]:
Operand1=20
Operand2=30
Operand3=100
print (Operand1<=Operand3)
print (Operand3==Operand2)

True
False

#Logical Operators
and , or , not

In [ ]:
operand1=199
print (operand1>190 and operand1<200)

True

In [ ]:
Operand1=1000
print (Operand1>300 or Operand1<1500)

True

In [ ]:
Operand= 20000
print (not (Operand>3000 and Operand<23000))

False

#Identity Operators 
is , is not

In [ ]:
X=10
Y=10
Z=X
print (X is Y)
print (X is Z)
print (X==Z)

True
True
True

In [ ]:
X=["Code","learning"]
Y=["Code","learning"]
Z=X
print (X is not Z)

False

#Membership Operators 
in , not in

In [ ]:
X=["Python","programming"]
print ("programming" in X)
print("anaconda" in X)

True
False

In [ ]:
X=["Learn", "Code"]
print ("python" not in X)
print ("Code" not in X)

True
False

#Bitwise Operators 
& , | , ^ , ~ , << , >>

In [ ]:
a=10
b=4
print ("a&b=", a&b)
print ("a|b=", a|b)
print ("a^b=", a^b)
print ("~b=", ~b)

a&b= 0
a|b= 14
a^b= 14
~b= -5

#Operator Precedence

In [ ]:
a=20
b=10
c=0
c=(a+b)*c
print ("Value of (a+b)*c is ",c)

Value of (a+b)*c is  0

In [ ]:
 a=20
b=10
c=30
c=a+b/c
print ("Value of (a+b)*c is ",c)

Value of (a+b)*c is  20.333333333333332